.webcamContainer{
    background-color: #282828;
    height: 80vh;
    width: 50vh;
    overflow: hidden;
    padding: 1vh;
    border-radius: 5%;
}

.CamView {
    width: 100%;
    height: 75%;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    margin-top: 5%;
    box-sizing: border-box;
}

.photoButtonContainer {
    display: flex;
    width: 100%;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

.takePhotoButtonContainer {
    display: flex;
    width: 100%;
    margin-top: 5%;
    justify-content: space-between;
    align-items: center;
}

.photoButton {
    background-color: whitesmoke;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dummyButton {
    background-color: transparent;
    /*border-radius: 50%;*/
    height: 100px;
    width: 100px;
    display: flex;

}

.insidePhotoButton {
    background-color: whitesmoke;
    border-radius: 50%;
    border: 2px solid darkgray;
    height: 85px;
    width: 85px;
}

.retakeButton {
    background-color: goldenrod;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 1.5em;
    border: none;
}

.zurueckButton {
    background-color: #c24040;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 1.5em;
    margin-left: 0.25vw;
}

.submit-button {
    margin-left: 5%;
    background-color: lightgreen;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 1.5em;
}

/* iPad (all models) portrait and landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
    .webcamContainer {
        height: 75vh;
        border-radius: 5%;
        padding: 1vh 1vh 2vh;
    }
}

@media only screen and (max-width: 768px) {
    .webcamContainer {
        height: 90vh;
        border-radius: 0;
    }
}