/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: #8DA0BDFF; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 2%;
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*border-radius: 0.5em;*/
}

/* The navigation menu links */
.sidenav .navItem {
    padding: 8% 3% 3% 8%;
    text-decoration: none;
    font-size: 1.5em;
    color: #3d3838;
    display: block;
    /*transition: 0.3s;*/
    transition: background-color 0.3s, color 0.3s;

}

.navItemklassen {
    margin-top: 2em;
    padding: 0;
}

/* Pdf Runterladen*/
.navItem-bottomBtn {
    padding: 90% 3% 3% 8%;
    margin-top: 70%;
    text-decoration: none;
    font-size: 1.5em;
    color: #3d3838;
    display: block;
    /*transition: 0.3s;*/
    transition: background-color 0.3s, color 0.3s;
}


.sidenav .flex-grow {
    flex-grow: 1;
    cursor: auto;
}

.sidenav .bottomBtn {
    padding-bottom: 20%;
}

.sidenav .subItem {
    padding-left: 40px;
    padding-bottom: 0.7%;
    text-decoration: none;
    font-size: 1.2em;
    color: #ecf0f1;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
}

.sidenav .subItem::before {
    content: '-  ';
}

/* Additional Styles for Navbar Items */
.sidenav .navItem,
.sidenav .navItem-bottomBtn {
    padding: 15px;
    text-decoration: none;
    font-size: 1.5em;
    color: #ecf0f1;
    display: block;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
}

.sidenav .navItem:after,
.sidenav .subItem:after,
.sidenav .navItem-bottomBtn:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 0.3em;
    width: 0;
    background-color: #042883FF;
    transition: width 0.5s, left 0.5s ease;
}

.sidenav .navItem:hover,
.sidenav .subItem:hover,
.sidenav .navItem-bottomBtn:hover {

    color: black;
    cursor: pointer;
    background-color: white;

}

.sidenav .navItem:hover:after,
.sidenav .subItem:hover:after,
.sidenav .navItem-bottomBtn:hover:after {
    width: 100%;
    left: 0;
}

.sidenav .navItem,
.sidenav .subItem,
.sidenav .navItem-bottomBtn,
.sidenav .navItem:after,
.sidenav .subItem:after,
.sidenav .navItem-bottomBtn:after {
    transition: all 0.3s ease-in-out;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.header {
    width: 100%;
    height: 50px;
    /*margin-top:-20px;*/
}

.btn-hamburger {
    display: none;
    height: 100%;
    cursor: pointer;
    background-color: #c0dcdb;
    border: none;
    color: white;
    font-size: 1.2em;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;

    border-radius: 4px;

}

.btn-hamburger:hover {
    background-color: #c0dcdb;
}


.overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
}

/*Anpassung Ipad Air */

@media screen and (max-width: 1180px) {
    .sidenav {
        height: 0;
        width: 0;
        margin-top: 30px;
        z-index: 999;
    }
    .header {
        background-color: #dedeec;
        height: 2em;
        z-index: 999;

    }

    .overlay2.show {
        display: block; /* Anzeigen, wenn die Klasse "show" vorhanden ist */
        width: 100%;
    }

    .btn-hamburger {
        display: inline;
        float: left;
        font-size: 1.2em;
        padding: 0 15px;

    }

    .sidenav.show {
        height: 100%;
        width: 24%;
        transform: translateX(0);
    }

    .sidenav.hide {
        transform: translateX(-100%);
    }
}

/*Anpassung */
@media screen and (max-width: 768px) {
    .sidenav {
        height: 0;
        width: 0;

    }

    .btn-hamburger {
        display: inline;
        float: right;
    }

    .sidenav.show {
        height: 100%;
        width: 40%;
        transform: translateX(0);
    }

    .sidenav.hide {
        transform: translateX(-100%);
    }
}

/*Anpassung Handy */

@media screen and (max-width: 415px) {
    .sidenav {
        height: 0;
        margin-top: 30px;
        width: 0;

    }

    .header {
        background-color: #dedeec;
        height: 1.9em;
    }

    .btn-hamburger {
        height: 100%;
        cursor: pointer;
        background-color: #bbbbd5;
        border: none;
        color: white;
        font-size: 1.2em;
        padding: 0 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        float: left;
        border-radius: 4px;
    }


    .sidenav.show {
        height: 100%;
        width: 100%;
        transform: translateX(0);
    }

    .sidenav.hide {
        transform: translateX(-100%);
    }


    .sidenav .navItem  {
        padding: 8% 3% 3% 8%;
        text-decoration: none;
        font-size: 1.5em;
        color: #ecf0f1;
        display: block;
        transition: 0.3s;
    }

    .sidenav .subItem {
        font-size: 1.5em;

    }

     .navItem-bottomBtn{

        padding: 90% 3% 3% 8%;
        margin-top: 1em;
         margin-left: 0.65em;
        text-decoration: none;
        font-size: 1.5em;
        color: #3d3838;
        display: block;
        /*transition: 0.3s;*/
        transition: background-color 0.3s, color 0.3s;
    }
}
