/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 20%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #c2bdbd; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 2%;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* The navigation menu links */
.sidenav .navItem {
    padding: 8% 3% 3% 8%;
    text-decoration: none;
    font-size: 1.5em;
    color: #3d3838;
    display: block;
    transition: 0.3s;
}

/* Pdf Runterladen*/
.navItem-bottomBtn{
    padding: 90% 3% 3% 8%;
    text-decoration: none;
    font-size: 1.5em;
    color: #3d3838;
    display: block;
    transition: 0.3s;
}

/* The navigation menu links */
.sidenav .subItem {
    padding: 8px 8px 16px 20%;
    text-decoration: none;
    font-size: 1.2em;
    color: #3d3838;
    display: block;
    transition: 0.3s;
}

.sidenav .flex-grow {
    flex-grow: 1;
    cursor: auto;
}

.sidenav .bottomBtn {
    padding-bottom: 20%;
}

/* When you mouse over the navigation links, change their color */
.sidenav .navItem:hover {
    color: #f1f1f1;
    cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.sidenav .subItem:hover {
    color: #f1f1f1;
    cursor: pointer;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.header{
    width: 100%;
    height: 50px;
    margin-top:-20px;
}
.btn-hamburger{
    display: none;

}

@media screen and (max-width: 768px) {
    .sidenav  {
        height: 0;
        margin-top: 30px;
        width: 0;

    }
    .btn-hamburger{
        display: inline;
        margin-top: 20px;
    }

    .sidenav.show {
        height: 100%;
        width: 40%;
    }



    @media screen and (max-width:415px) {
        .sidenav  {
            height: 0;
            margin-top: 30px;
            width: 0;

        }
        .btn-hamburger{
            display: inline;
            margin-top: 20px;
        }

        .sidenav.show {
            height: 100%;
            width: 100%;
        }

        .sidenav .navItem {
            padding: 8% 3% 3% 8%;
            text-decoration: none;
            font-size: 1.5em;
            color: #3d3838;
            display: block;
            transition: 0.3s;
        }

        .sidenav .subItem{
            font-size: 1.5em;
        }



    }}

/* Ipad Air quer */
@media screen and (max-width:1180px) {
    .sidenav  {
        height: 100%;
        margin-top: 41px;
        width: 0;

    }


    .btn-hamburger {
        display: inline;
        top: 2.5%;
        left: 2.5%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 50px;
background-color: dimgrey;
    }

    .btn-hamburger:before,
    .btn-hamburger:after,
    .btn-hamburger div {
        background: #fff;
        content: "";
        display: block;
        height: 6px;
        border-radius: 3px;
        margin: 7px 0;
        transition: 0.5s;
    }
    .btn-hamburger:hover:before {
        transform: translateY(12px) rotate(135deg);
    }
    .btn-hamburger:hover:after {
        transform: translateY(-12px) rotate(-135deg);
    }
    .btn-hamburger:hover div {
        transform: scale(0);
    }


    .sidenav.show {
        height: 100%;
        width: 50%;
        position: absolute;
    }

    .sidenav .navItem .navItem-bottomBtn  {
        padding: 3% 3% 3% 8%;
        text-decoration: none;
        font-size: 1.5em;
        color: #3d3838;
        display: block;
        transition: 0.3s;

    }

    .sidenav .subItem{
        font-size: 1.3em;
    }
    /* PDF runterladen in Ipad Quer */
    .navItem-bottomBtn{
        padding: 35% 3% 3% 8%;
        text-decoration: none;
        font-size: 1.5em;
        color: #3d3838;
        display: block;
        transition: 0.3s;
    }


}