body.active-modal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.modal-title {
    font-size: 3em;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 0 28px 80px;
    border-radius: 3px;
    max-width: 1000px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.btn-NameListe {
    font-size: 2vw;
    border-radius: 15%;
    padding: 10px;
    margin: 1%;
    flex-grow: 1;
    border: 1px solid grey;
}

.nameListe-ul {
    display: flex;
}

.btn-NameListe:hover {
    background-color: darkgray;
}

.nameListe-Container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-content: space-evenly
}