body.active-modal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 5;
}

.modal-title {
    font-size: 3em;
    width: 100%;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 0 28px 80px;
    border-radius: 3px;
    max-width: 1000px;
    min-width: 50%;
    max-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    z-index: 9999;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.btn-NameListe {
    font-size: 2vw;
    border-radius: 15%;
    padding: 10px;
    margin: 1%;
    flex-grow: 1;
    border: 1px solid grey;
}

.nameListe-ul {
    display: flex;
}

.btn-NameListe:hover {
    background-color: darkgray;
}

.btn-close {
    text-align: left;
    border: none;
    margin-left: -25px;
    margin-top: 3px;
}

.dummy-div {
    flex-grow: 1;
    width: 90%;
}

.nameListe-Container {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-content: space-evenly
}


@media only screen and (max-width: 767px) {
    .modal-title {
        font-size: 2em;
    }

    .btn-NameListe {
        width: 100%;
        font-size: 1em;
    }
}