.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titel {
  width: 100%;
}

.Klassenzimmer {
  width: 80vw;
  max-height: 90vh;
  display: flex;
  flex-wrap: wrap;
}

.Reihe {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Tisch {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1%;
  height: 15vh;
}

.Schueler {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  border: 2px solid black;
  flex-wrap: wrap;
  height: 100%;
}

.schuelerName {
  flex-grow: 1;
  width: 100%;
}

.schuelerBild {
  flex-grow: 1;
  margin-top: 0.25em;
  max-width: 70%;
  max-height: 70%;
}

.schuelerHinzufuegen {
  text-align: center;
  align-self: center;
  font-size: 3em;
}

.Lehrkraft {
  width: 100%;
  height: 15vh;
  padding-top: 2%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Lehrer {
  border: 3px solid black;
  margin-right: 10%;
  height: 80%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
