body {
  background-color: #d8dae0;
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titel {
  width: 100%;
}

.Klassenzimmer {
  /*din-a4 proportions*/
  width: 70vw;
  height: 49.49vw;
  margin-right: 5%;
  margin-left: auto;
  margin-bottom: 1%;
  display: flex;
  flex-wrap: wrap;
  page-break-after: always;
  border: 1px solid black;
  justify-content: center;
  background-color: white;
  box-shadow: 0 0 2vw whitesmoke;
}

.klassenzimmer-titel {
  text-align: center;
  border: 0.2vw solid darkgray;
  box-shadow: 0 0 1vw darkgray;
  border-radius: 5%;
  padding: 0.5%;
  font-size: 2vw;
  margin-bottom: 1%;
  margin-top: 1.5%;
}

.nicht-vorhanden {
  text-align: center;
  font-size: 2.5em;
  padding-top: 15%;
}

.Reihe {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Tisch {

  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5%;
  width: 20%;
}

.Schueler {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  border: 0.2vw solid black;
  flex-wrap: wrap;
  height: 100%;
  width: 55%;
  box-sizing: border-box;
  overflow: hidden;
  word-wrap: break-word;
  hyphens: auto;
}

.schuelerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.schuelerName {
  font-size: 0.80vw;
  width: 100%;
  padding-bottom: 1%;
  margin-top: 0.35vw;
}

.schuelerBild {
  max-width: 70%;
}

.selected {
  border: 3px solid orange;
}

.schuelerHinzufuegen {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6vw;
  width: 100%;
  height: 100%;
}

.Lehrkraft {
  width: 100%;
  height: 7vw;
  padding-top: 1%;
  display: flex;
  justify-content: flex-end;
}

.Lehrer {
  border: 0.2vw solid black;
  margin-right: 10%;
  height: 70%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3vw;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.trigger-animation {
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
}

.KlassenzimmerRoute{
  display: none;
}

/* Mobile mode */
@media only screen and (max-width: 600px) {
  .Klassenzimmer{
    display: none;
  }

  .klassenzimmer-titel {
    font-size: 0.25em;
  }

  .KlassenzimmerRoute{
    display: block;
  }
}

@media only screen and (max-width: 1200px) {
  .Klassenzimmer{
    width: 90vw;
    height: 63.64vw;
  }
}