.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.titel {
  width: 100%;
}

.Klassenzimmer {

  /*din-a4 proportions*/
  width: 70vw;
  height: 49.49vw;
  margin-right: 5%;
  margin-left: auto;
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  page-break-after: always;
  border: 1px solid black;
}

.Reihe {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Tisch {

  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1%;
  height: 8.75vw;
  width: 20%;
}

.Schueler {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  border: 2px solid black;
  flex-wrap: wrap;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
}

.schuelerName {
  flex-grow: 1;
  font-size: 0.80vw;
  width: 100%;
  padding-bottom: 1%;
  margin-top: 0.35vw;
  /*border: 1px solid purple;*/
}

.schuelerBild {
  flex-grow: 1;
  margin-top: 0.25em;
  max-width: 70%;
  max-height: 70%;
}

.selected {
  border: 3px solid orange;
}

.schuelerHinzufuegen {
  text-align: center;
  align-self: center;
  font-size: 2.6vw;
  width: 100%;
}

.Lehrkraft {
  width: 100%;
  height: 9vw;
  padding-top: 1%;
  display: flex;
  justify-content: flex-end;
}

.Lehrer {
  border: 3px solid black;
  margin-right: 10%;
  height: 80%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

