
.mobile-ansicht {
    background-color: #f8f8f8;
    height: 100vh;
    width: 100%;
}

.zimmerauswahl-titel {
    border: 1px solid #1e1d1d;
    overflow: hidden;
    padding: 3%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    box-shadow: 0 0 8px darkgray;
}

.zimmer-liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.zimmer-namen {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 90%;
    list-style: none;
    padding: 3%;
    border-radius: 5%;
    box-shadow: 0 0 8px darkgray;
}

.mobile-button {
    width: 90%;
    height: 25vh;
    font-size: 2.5em;
    border-radius: 15%;
    margin-bottom: 5%;
}

.anlegen-button {
    background-color: #c6dff1;
}

.neuauswahl-button {
    background-color: #c6f1e2;
}

.mini-klassenzimmer-button {
    background-color: #f1e2c6;
}

.zurueck-button {
    height: 15vh;
    background-color: #f1e2c6;
}

.mini-klassenzimmer {
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2vh;
}

.minizimmer-reihe {
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.minizimmer-schueler {
    border: 1px solid black;
    margin: 1%;
    flex-grow: 1;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}